# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE-related (IntelliJ, Android Studio, VS Code)
*.iml
*.ipr
*.iws
.idea/
/.vscode/

# Flutter/Dart/Pub related
.metadata
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Windows specific
windows/flutter/

# macOS/Linux specific
macos/Flutter/ephemeral/
linux/flutter/
ios/Flutter/Generated.xcconfig
ios/.symlinks/
ios/Pods/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Firebase (si usas Firebase en tu proyecto)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
