# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE-related (IntelliJ, Android Studio, VS Code)
*.iml
*.ipr
*.iws
.idea/
/.vscode/
pubspec.lock

# Flutter/Dart/Pub related
**/.metadata
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Windows specific
windows/flutter/
windows/build/
windows/CMakeLists.txt
windows/runner/
windows/generated_plugin_registrant.cc

# Linux specific
linux/build/
linux/flutter/
linux/CMakeLists.txt
linux/main.cc

# macOS specific
macos/Flutter/ephemeral/
macos/build/
macos/CMakeLists.txt

# iOS specific
ios/.generated/
ios/.swiftpm/
ios/build/
ios/.dart_tool/
ios/.symlinks/
ios/Pods/
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android specific
android/.gradle/
android/app/build/
android/build/
android/captures/
android/local.properties

# Web (si no has personalizado `index.html`)
web/

# Web (si has modificado `index.html`, ignora solo archivos generados)
web/assets/
web/canvaskit/
web/flutter.js
web/flutter_service_worker.js
web/main.dart.js
web/main.dart.js.map
web/favicon.png
web/icons/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android build artifacts
android/app/debug
android/app/profile
android/app/release

# Firebase (si usas Firebase en tu proyecto)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
